@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #5F2C82;
    position: relative;
}

main {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, 7%);
}

main > section#formulario {
    background-color: white;

    width: 230px;
    height: 330px; 
    padding: 10px;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 6px 3px #00000096;
}

main > section#formulario > h2 {
    text-align: center;
    padding: 10px;
}

main > section#formulario > p {
    font-size: smaller;
}

main > section#formulario > form > div#entrar > input[type = submit] {
    width: 220px;
    padding: 7px;
    display: block;
    margin: 5px auto;
    border: 1px solid #6bffff;
    border-radius: 7px;
    padding: 10px;
}


main > section#formulario > form > div#entrar, input#entrar {
    background-color: #4bb1ad;
    color: #ffffff;
    border-radius: 5px;
}

main > section#formulario > form > div > input#iemail, input#ipassword {
    background-color: #94CFCD;
    height: 33px;
    border-radius: 7px;
    border: none;
    padding: 3px;
    transform: translate(-3px, -5px);
}

main > section#formulario > form > div#email, div#password {
    background-color: #5F2C82;
    border-radius: 5px;
    margin-top: 5px;
}

main > section#formulario > form > div#esqueci_senha {
    border-radius: 7px;
    border: 1px solid #4bb1ad;
    padding: 7px;
    text-align: center;
}

main > section#formulario > form > div#esqueci_senha > a {
    text-decoration: none;
}

main > section#formulario > form > div > label > #icon_input_email, #icon_input_password {
    color: White;
    font-size: 2em;
    padding: 3px;
    width: 40px;
    padding: 5px;
    transform: translate(3px, 3px);
}

main > section#imagem {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 250px;
    height: 200px;

    background: #000000 url(../img/imagem-login.jpg) no-repeat left bottom;
    background-size: cover;
    box-shadow: 1px 1px 6px 3px #00000091;
}

#icon_email {
    color: #000000b4;
}

.material-symbols-outlined {
  color: white;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
  'opsz' 48
}