@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #5F2F82;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;

    position: relative;
}

section#login {
    position: absolute;

    top: 50%;
    left: 50%;

    background-color: #ffffff;

    width: 250px;
    
    height: 505px;
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000073;

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: #5F2F82 url(../img/imagem-login.jpg) no-repeat left bottom;
    background-size: cover;

    height: 200px;
}

section#login > div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5F2F82;
    border: 2px solid #5F2F82;

    height: 40px;
    margin: 5px 0px;

    border-radius: 8px;
}

div.campo > span.material-symbols-outlined {
    color: #ffffff;

    font-size: 2em;
    
    width: 40px;
    padding: 4px;
}

div.campo > input {
    background-color: #59b1ae;

    font-size: 1em;

    width: calc(100% - 45px);
    height: 100%;
    
    border: none;
    border-radius: 8px;

    transform: translateY(-11px);
}

div.campo > input:focus-within {
    background-color: #ffffff;
}

form > a.botao, form > input[type = submit] {
    display: block;

    text-align: center;

    font-size: 1em;
    margin-top: 5px;

    width: 100%;
    height: 40px;
    padding: 5px;
    
}

form > input[type = submit] {
    background-color: #49A09D;

    color: #ffffff;
    border: none;

    border-radius: 5px;
}

form > input[type = submit]:hover {
    background-color: #3a7c7a;
    cursor: pointer;
}

form > a.botao {
    color: #3a7c7a;

    border: 1px solid #49A09D;
    border-radius: 5px;

    text-decoration: none;
}


form > a.botao:hover {
    background-color: #6CD3CF;
}

form > a.botao > span.material-symbols-outlined {
    font-size: 0.8em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}